html {
     height: 100%;
}

.img_banner{  
  display:flex;
  margin:0 auto;
}

#page {
    position: relative;
    background-color: white;
}

#footer {
    color: black;
    top: -20px;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
}
#content{
    background-color: white;
}

img{  
  display:flex;
  margin:0 auto;
}

body{
    background-color: white;
}